<div class="artist-search-name">
  <h1>{{artistInput}}</h1>
  <a href="/artist/profile/:{{artistMBId}}">Click for artist profile</a>
</div>

<div class="artist-search-container">
  {{#each events}}
  {{> eventContainer this}}
  {{/each}}
</div>