<div class="artist-search-name">
  <h1>{{artistInput}}</h1>
  <a href="/artist/profile/:{{artistMBId}}">Click for artist profile</a>
</div>

<p>
  <label for="city-selection">Select a city:</label>
  <select name="city-selection" id="city-selection" onchange="citySelected()">
    <option value="">Select a city:</option>
    {{#each cityList}}
    <option value={{this}}>{{this}}</option>
    {{/each}}
  </select>
</p>

<div class=" artist-search-container">
  {{#each events}}
  {{> eventContainer this}}
  {{/each}}
</div>