<div class="login-container">
  <div class="login-title">
    <h1>Login</h1>
  </div>

  <div class="login-input-container">
    <form id="form" action="/auth/login" method="post" class="login-input-form">
      <div class="input-div">
        <input class="login-input" type="text" placeholder="Enter username" name="username" required>
      </div>
      <div class="input-div">
        <input class="login-input" type="password" placeholder="Enter password" name="password" required>
      </div>
    </form>
    {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
    {{/if}}
  </div>
  <a href="/">Home</a>

</div>