<form id="artist-landing-form" action="/events/artist" method="POST">
  <label for="artist-input">Artist</label>
  <input required type="text" name="artistInput" id="artistInput" />
  <button>Search</button>
  {{#if artistErrorMessage}}
    {{artistErrorMessage}}
  {{/if}}
</form>
<form id="city-landing-form" action="/events/city" method="POST">
  <label for="city-input">City</label>
  <input required type="text" name="cityInput" id="cityInput" />
  <button>Search</button>
  {{#if cityErrorMessage}}
    {{cityErrorMessage}}
  {{/if}}
</form>

