<div class="navbar-container-landing">
  {{!-- <a class="navbar-link-home navbar-link" href="/">home</a>
  <a class="navbar-link" href="/auth/signup">sign up</a>
  <a class="navbar-link" href="/auth/login">log in</a> --}}
  {{#if isAuthenticated}}
  <a class="navbar-link" href="/logged">profile</a>
  <a href="/auth/logout" class="navbar-link">log out</a>
  {{else}}
  <a class="navbar-link" href="/auth/login">log in</a>
  <a href="/auth/signup" class="navbar-link">sign up</a>
  {{/if}}
</div>
<div class="landing">
  <div class="landing-container">
    <div class="landing-logo">
      <h1>find your concerts</h1>
    </div>
    <div class="landing-input-container contaner">
      <form id="artist-landing-form" action="/events/artist" method="POST" class="input-form">
        <input required type="text" placeholder="
        {{#if artistErrorMessage}}
        {{artistErrorMessage}}
        {{else}}
        look up your artist
        {{/if}}
        " name="artistInput" id="artistInput" class="landing-search-input" autocomplete="off" autofocus />
      </form>
      <div class="landing-input-container-btns">
        <a href="/auth/login" class="btn btn-dark btn-lg"><span id="transp">log in</span></a>
        <a href="/auth/signup" class="btn btn-dark btn-lg">sign up</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-features">
      <h2>features</h2>
      <p>search for your desired artists, follow them, their events, and get their tickets. no hassle, no clutter.</p>
    </div>
    <div class="content-about-us">
      <h2>about us</h2>
      <p>we intend to provide a minimalist experience for the concert seeker user without overwhelming them with useless
        features.</p>
    </div>
  </div>
</div>
<div class="footer">
  <div>
    <a href="/">privacy policy</a>
  </div>
  <div>
    <a href="/">sitemap</a>
  </div>
  <div>
    <a href="/">© fj studios</a>
  </div>
</div>

{{!-- <form id="city-landing-form" action="/events/city" method="POST">
  <label for="city-input">City</label>
  <input required type="text" name="cityInput" id="cityInput" />
  <button>Search</button>
  {{#if cityErrorMessage}}
    {{cityErrorMessage}}
  {{/if}}
</form> --}}